@import url(fancybox.css);

.Parallax{position: absolute;z-index: 9999; top: 0;}
.side-images img{position:absolute;z-index:5;}
.side-images .side-img1{right:0;top:25%;}
.side-images .side-img2{right:0;top:45%;}
.side-images .side-img3{left:0;top:35%;}
.side-images .side-img4{left:0;top:60%;transform:scaleX(-1);}
.block .container{position: relative;z-index: 10;}
.block{
	font-size: 16px;
	line-height: 27px;
	padding:70px 0;
}

@media screen and (max-width:1399px){
	.side-images img{height: 350px;}
	.side-images img{position:absolute;z-index:5;}
	.side-images .side-img1{right:0;top:18%;}
	.side-images .side-img2{right:0;top:31%;}
	.side-images .side-img3{left:0;top:24%;}
	.side-images .side-img4{left:0;top:39%;transform:scaleX(-1);}
	.news-events:before{width:142px;height:293px;}
	.news-events:after{width:210px;height:285px;}
}
@media screen and (max-width:1199px){
	.side-images img{height: 200px;}
	.main-carousel .mask{margin: 0 40px;}
	.main-carousel .btn-prev{left: -10px;}
	.main-carousel .btn-next{right: -10px;}
}
