@import url(header.css);
@import url(searchform.css);
@import url(fonts.css);
@import url(footer.css);
.slideshow{width:100%;position:relative;overflow:hidden;}
.slideshow .slideset{position:relative;}
.slideshow .slide{position:absolute;left:0;right:0;top:0;background:#f9c90c;color:#fff;}
.slideshow .slide>img{width:100%;height:auto;display:block;}
.slideshow .slide.active{z-index:2;}
.slideshow .slide .scene{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	list-style: none;
	margin: 0;
}
.slideshow .slide .caption{
	position: absolute;
	left: 0;
	right: 0;
	top: 110px;
	margin: 0 auto;
	z-index: 9999;
}
.slideshow .slide .caption h1{
	font:700 35px/1.2 'Cinzel';
	color: #000;
	letter-spacing: 2px;
}
.slideshow .slide .caption a{
	font-family: 'Cinzel', serif;
	background: #fff200;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 4px;
}
.slideshow .slide .caption a:hover{
	background:#c4161c;
	color: #fff;
}
.slideshow  .pagination{position:absolute;left:0;right:0;text-align:center;bottom:40px;z-index:999;}
.block.scroll-page{
	padding: 222px 0 0;
	background-image: -moz-linear-gradient( 90deg, rgb(194,21,0,1) 0%, rgb(194,21,0,1) 20%, rgb(255,255,255,1) 37%, rgb(252,241,242) 60%, rgb(194,21,0,1) 78%, rgb(255,197,0,1) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(194,21,0,1) 0%, rgb(194,21,0,1) 20%, rgb(255,255,255,1) 37%, rgb(252,241,242) 60%, rgb(194,21,0,1) 78%, rgb(255,197,0,1) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(194,21,0,1) 0%, rgb(194,21,0,1) 20%, rgb(255,255,255) 37%, rgb(252,241,242) 60%, rgb(194,21,0,1) 78%, rgb(255,197,0,1) 100%);

	position: relative;
	overflow: hidden;
	min-height: 3360px;
}
.scroll-page:before{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/main-image.png) no-repeat 50% 100%;
	content: '';
}
.scroll-page:after{
	position: absolute;
	left: 0;
	right: 0;
	top: -205px;
	background: url(../images/seed-img1.png) no-repeat 0 100%, url(../images/seed-img2.png) no-repeat 30% 0, url(../images/seed-img3.png) no-repeat 100% -37px;
	content: '';
	height: 415px;
	max-width: 1400px;
	margin: 0 auto;
}
.scroll-page .row.justify-content-start .text-box{
	position: relative;
	left: -600px;
	opacity: 0;
	transition:all linear 0.5s;
}

.scroll-page .row.justify-content-start.active .text-box{
	left: 0;
	opacity: 1;
}
.scroll-page .row.justify-content-end .text-box{
	position: relative;
	right: -600px;
	opacity: 0;
	transition:all linear 0.5s;
}
.scroll-page .text-box ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.scroll-page .text-box ul li{
	padding: 0 0 0 15px;
	position: relative;
	margin-bottom: 15px;
}
.scroll-page .text-box ul li:before{
	background: #c4161c;
	position: absolute;
	left: 0;
	top: 10px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	content: '';
}
.scroll-page .row.justify-content-end.active .text-box{
	right: 0;
	opacity: 1;
}
.scroll-page .ico-img1{
	background: url(../images/icons.png) -9px 0;
	width: 46px;
	height: 69px;
	display: block;
	margin-bottom: 10px;
}
.scroll-page .ico-img2{
	background: url(../images/icons.png) -5px -120px;
	width: 54px;
	height: 54px;
	display: block;
	margin-bottom: 10px;
}
.scroll-page .ico-img3{
	background: url(../images/icons.png) 0 -227px;
	width: 64px;
	height: 64px;
	display: block;
	margin-bottom: 10px;
}
.scroll-page .ico-img4{
	background: url(../images/icons.png) -1px -339px;
	width: 63px;
	height: 64px;
	display: block;
	margin-bottom: 10px;
}
.scroll-page .skrollable {
	position: absolute;
	left: 50%;
	text-align: center;
}
.scroll-page .skrollable img{
	position: absolute;
	left: 0;
}
.scroll-page .text-tag{
	background: #f9c612;
	font:18px/1.2 'Roboto';
	border-radius: 4px;
	padding: 5px 10px;
	white-space: nowrap;
}
.scroll-page .text-tag:after{
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translateY(-50%);
	border: 4px solid transparent;
	border-left-color: #f9c612;
	content:'';
}
.scroll-page .text-tag.tag2:after{
	position: absolute;
	left: auto;
	right: 100%;
	top: 50%;
	transform: translateY(-50%);
	border: 4px solid transparent;
	border-right-color: #f9c612;
	content:'';
}
.product-block{
	margin-top: -300px;
	position: relative;
	z-index: 9;
}
.product-block .slide img{
	height: 249px;
	margin: 0 auto 32px;
}
.simple-link,.simple-link:hover{text-decoration: none;}
.text-red{color: #c4161c !important;}
.btn-calculate{
	min-width: 220px;
	background: #06773b;
	padding:5px 15px;
	line-height: 26px;
	font-size: 20px;
	text-transform: capitalize;
	color: #fff;
	border:2px solid #06773b;
	transition:all linear 0.2s;
}
.btn-calculate:hover{
	color: #06773b;
	background: #fff;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.subtext2{
	font-size: 18px;
	line-height: 1.2;
}
/* @media screen and (max-width:1399px){
	.slideshow .slide > img{max-width:inherit;width:130%;margin:0 -15%;}
} */
@media screen and (max-width:1199px){
	.product-block{margin-top: 0; padding: 50px 0;}
	.slideshow .slide .caption h1{font-size:30px;}
	.slideshow .slide .caption{top: 100px;}
	.scroll-page{min-height: inherit;padding-bottom: 50px;}
	.scroll-page:before{display: none;}
	.block.scroll-page{min-height: auto;}
}
@media screen and (max-width:1023px){
	.slideshow .slide .caption{top: 80px;}
}
@media only screen and (min-width:992px){
	/*.banner-btns{
		position: absolute;
		left: 0;
		top: 200px;
	}*/
}
@media screen and (max-width:991px){
	.scroll-page .row.justify-content-start .text-box,
	.scroll-page .row.justify-content-end .text-box{
		opacity: 1 !important;
		right: auto !important;
		left: auto !important;
	}
}
@media screen and (max-width:767px){
	.product-block .slide img{max-width:inherit;}
	.slideshow .slide > img{width:150%;margin:0 -25%;}
	.slideshow .slide .caption{
		position: static;
		color: #fff;
		transform: none;
		padding: 20px;
	}
	.slideshow .slide .caption h1{
		color: #c4161c;
		font-size: 20px;
	}
	.scroll-page{padding-top:100px;}
	.scroll-page:after{
		height: 100px;
		top: -10px;
		-webkit-background-size: contain;
		background-size: contain;
	}
	.block.scroll-page{
		min-height: auto;
		padding-top: 110px;
	}
	.section{text-align: center !important;}
	.section i{
		display: block;
		margin: 0 auto 15px;
	}
	.scroll-page .text-box ul{text-align: left;}
	.subtext2 br{display: none;}
}








body::-webkit-scrollbar {
    width: 2px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(243, 0, 0);
  outline: 1px solid rgb(255, 0, 0);
}